<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>болтун находка для шпиона:)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Здравие желаем, товарищ майор!</h1>
<form action="/resp">
<h2>Здесь в один клик вы можете узнать, кто с кем болтает в Команде Навального</h2>
<button type="submit" class="btn btn-primary">такс</button>
</form>
</div>
</body>
</html>