<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>тест</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Уверенны, что знаете всё про дореволюционную орфографию?</h1>
<p>Пройдите тест!</p>
<form action="/results">
  <p><b><i>Выберете из двух дореволюционных написаний одно правильное. Удачи! </i></b> </p>
  <ol>
  <li>
  <div class="form-group">
    <label for="exampleFormControlSelect1">В юном ___________ апреле</label>
    <select class="form-control" name="Q1" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>мѣсяце</option>
      <option>месяце</option>     
    </select>
  </div>
</li>
  <li>
  <div class="form-group">
    <label for="exampleFormControlSelect1">В юном месяце ___________</label>
    <select class="form-control" name="Q2" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>апрѣле</option>
      <option>апреле</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> А ты читал ___________ Достоевского?</label>
    <select class="form-control" name="Q3" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>Бѣсов</option>
      <option>Бесов</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> А Миша не читал. ___________</label>
    <select class="form-control" name="Q4" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>Балбѣс!</option>
      <option>Балбес!</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> А ___________ -- молодец! Все каникулы только их и читал.</label>
    <select class="form-control" name="Q5" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>Глѣб</option>
      <option>Глеб</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> Фух! Я знал, что ты знаешь песню Киркорова ___________!!!!!!</label>
    <select class="form-control" name="Q6" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>Снѣг</option>
      <option>Снег</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> Ну ето классика!!! ___________ не знать!</label>
    <select class="form-control" name="Q7" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>Грѣх</option>
      <option>Грех</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> Эх! Поскорей бы уже ___________!</label>
    <select class="form-control" name="Q8" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>лѣто</option>
      <option>лето</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> А вы ___________ уже украсили?</label>
    <select class="form-control" name="Q9" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>ѣль</option>
      <option>ель</option>     
    </select>
  </div>
</li>
<li>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> ___________ </label>
    <select class="form-control" name="Q10" id="exampleFormControlSelect1">
    <option selected>...</option>
      <option>Нѣт</option>
      <option>Нет</option>     
    </select>
  </div>
</li>
  <p>Вот и весь тест! Хорошего дня!</p>
  <button type="submit" class="btn btn-primary">Готово</button>
</form>
</div>
</body>
</html>